.PageHeading__Container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    p {
        width: 100%;
        margin: 0;
        text-align: right;
        line-height: 1.3;
        span {
            font-size: 5rem;
            text-transform: uppercase;
            &.highlightedspan {
                color: #00F0FF;
                transition: color 0.2s ease;
            }
        }
    }
}