// This componentn  does not need horizontal viwport units, it looks good.
@media (min-aspect-ratio: 1/1) {
  .ParallaxExpand {
    height: 300vh;
    position: relative;
  
    .ParallaxExpand__sticky {
      position: sticky;
      top: 0;
      height: 100vh;
      overflow: hidden;
  
      .image__wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .image__container {
          position: absolute;
          width: 25vw;
          height: 30vh;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        &:nth-of-type(1) .image__container { top: 35vh; left: 37.5vw; }
        &:nth-of-type(2) .image__container { top: 5vh; left: 5vw; width: 35vw; scale: 0.8; }
        &:nth-of-type(3) .image__container { top: 30vh; left: 7.5vw; width: 25vw; height: 45vh;scale: 0.8; }
        &:nth-of-type(4) .image__container { top: 40vh; left: 65vw;scale: 0.8; }
        &:nth-of-type(5) .image__container { top: 75vh; left: 10vw; width: 25vw; z-index: 1;scale: 0.8; }
        &:nth-of-type(6) .image__container { top: 67.5vh; left: 37.5vw; width: 30vw;scale: 0.8; }
        &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 20vw; height: 25vh;scale: 0.8; }
        &:nth-of-type(8) .image__container { top: 2.5vh; left: 37.5vw; width: 30vw;scale: 0.8; }
        &:nth-of-type(9) .image__container { top: 12.5vh; left: 70vw; width: 20vw; height: 25vh;scale: 0.8; }
      }
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  @media only screen and (min-width: 1000px) {
    .ParallaxExpand {
      height: 300vh;
      position: relative;
    
      .ParallaxExpand__sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    
        .image__wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          .image__container {
            position: absolute;
            width: 55vw;
            height: 30vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          &:nth-of-type(1) .image__container { top: 35vh; left: 25vw; }
          &:nth-of-type(2) .image__container { top: 7.5vh; left: -15vw; width: 45vw; height: 20vh; scale: 0.8; }
          &:nth-of-type(3) .image__container { top: 30vh; left: -25vw; width: 55vw; height: 35vh;scale: 0.8; }
          &:nth-of-type(4) .image__container { top: 40vh; left: 85vw;scale: 0.8; }
          &:nth-of-type(5) .image__container { top: 75vh; left: -10vw; width: 45vw; height: 20vh; z-index: 1;scale: 0.8; }
          &:nth-of-type(6) .image__container { top: 67.5vh; left: 27.5vw; width: 50vw;scale: 0.8; }
          &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(8) .image__container { top: 2.5vh; left: 25vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(9) .image__container { top: 10vh; left: 70vw; width: 40vw; height: 25vh;scale: 0.8; }
        }
      }
    }
  }
  @media only screen and (min-width: 750px) and (max-width: 990px) and (min-height: 800px) {
    .ParallaxExpand {
      height: 300vh;
      position: relative;
    
      .ParallaxExpand__sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    
        .image__wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          .image__container {
            position: absolute;
            width: 55vw;
            height: 30vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          &:nth-of-type(1) .image__container { top: 35vh; left: 25vw; }
          &:nth-of-type(2) .image__container { top: 7.5vh; left: -15vw; width: 45vw; height: 20vh; scale: 0.8; }
          &:nth-of-type(3) .image__container { top: 30vh; left: -25vw; width: 55vw; height: 35vh;scale: 0.8; }
          &:nth-of-type(4) .image__container { top: 40vh; left: 85vw;scale: 0.8; }
          &:nth-of-type(5) .image__container { top: 75vh; left: -10vw; width: 45vw; height: 20vh; z-index: 1;scale: 0.8; }
          &:nth-of-type(6) .image__container { top: 67.5vh; left: 27.5vw; width: 50vw;scale: 0.8; }
          &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(8) .image__container { top: 2.5vh; left: 25vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(9) .image__container { top: 10vh; left: 70vw; width: 40vw; height: 25vh;scale: 0.8; }
        }
      }
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 740px) and (min-height: 700px) {
    .ParallaxExpand {
      height: 300vh;
      position: relative;
    
      .ParallaxExpand__sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    
        .image__wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          .image__container {
            position: absolute;
            width: 55vw;
            height: 30vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          &:nth-of-type(1) .image__container { top: 35vh; left: 25vw; }
          &:nth-of-type(2) .image__container { top: 7.5vh; left: -15vw; width: 45vw; height: 20vh; scale: 0.8; }
          &:nth-of-type(3) .image__container { top: 30vh; left: -25vw; width: 55vw; height: 35vh;scale: 0.8; }
          &:nth-of-type(4) .image__container { top: 40vh; left: 85vw;scale: 0.8; }
          &:nth-of-type(5) .image__container { top: 75vh; left: -10vw; width: 45vw; height: 20vh; z-index: 1;scale: 0.8; }
          &:nth-of-type(6) .image__container { top: 67.5vh; left: 27.5vw; width: 50vw;scale: 0.8; }
          &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(8) .image__container { top: 2.5vh; left: 25vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(9) .image__container { top: 10vh; left: 70vw; width: 40vw; height: 25vh;scale: 0.8; }
        }
      }
    }
  }
  @media only screen and (min-width: 380px) and (max-width: 399px) and (min-height: 600px) {
    .ParallaxExpand {
      height: 300vh;
      position: relative;
    
      .ParallaxExpand__sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    
        .image__wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          .image__container {
            position: absolute;
            width: 55vw;
            height: 30vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          &:nth-of-type(1) .image__container { top: 35vh; left: 25vw; }
          &:nth-of-type(2) .image__container { top: 7.5vh; left: -15vw; width: 45vw; height: 20vh; scale: 0.8; }
          &:nth-of-type(3) .image__container { top: 30vh; left: -25vw; width: 55vw; height: 35vh;scale: 0.8; }
          &:nth-of-type(4) .image__container { top: 40vh; left: 85vw;scale: 0.8; }
          &:nth-of-type(5) .image__container { top: 75vh; left: -10vw; width: 45vw; height: 20vh; z-index: 1;scale: 0.8; }
          &:nth-of-type(6) .image__container { top: 67.5vh; left: 27.5vw; width: 50vw;scale: 0.8; }
          &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(8) .image__container { top: 2.5vh; left: 25vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(9) .image__container { top: 10vh; left: 70vw; width: 40vw; height: 25vh;scale: 0.8; }
        }
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 379px) and (min-height: 450px) {
    .ParallaxExpand {
      height: 300vh;
      position: relative;
    
      .ParallaxExpand__sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
    
        .image__wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          .image__container {
            position: absolute;
            width: 55vw;
            height: 30vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          &:nth-of-type(1) .image__container { top: 35vh; left: 25vw; }
          &:nth-of-type(2) .image__container { top: 7.5vh; left: -15vw; width: 45vw; height: 20vh; scale: 0.8; }
          &:nth-of-type(3) .image__container { top: 30vh; left: -25vw; width: 55vw; height: 35vh;scale: 0.8; }
          &:nth-of-type(4) .image__container { top: 40vh; left: 85vw;scale: 0.8; }
          &:nth-of-type(5) .image__container { top: 75vh; left: -10vw; width: 45vw; height: 20vh; z-index: 1;scale: 0.8; }
          &:nth-of-type(6) .image__container { top: 67.5vh; left: 27.5vw; width: 50vw;scale: 0.8; }
          &:nth-of-type(7) .image__container { top: 67.5vh; left: 70vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(8) .image__container { top: 2.5vh; left: 25vw; width: 50vw; height: 25vh;scale: 0.8; }
          &:nth-of-type(9) .image__container { top: 10vh; left: 70vw; width: 40vw; height: 25vh;scale: 0.8; }
        }
      }
    }
  }
}