.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    color: #fff;
    padding: 10rem 0rem;

    .header__text{
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .devider{
        height: 200vh
    }
}

//navbar
@import '../components/common/navbar/styles.scss';
@import '../components/common/navbar/body/styles.scss';
@import '../components/common/navbar/cursor/styles.scss';
@import '../components/common/navbar/menu/styles.scss';
//QNA
@import '../components/common/qna/style.scss';

//Graph Component
@import '../components/common/graphs/styles.scss';
//Footer
@import '../components/common/footer/styles.scss';
//BlogPost
@import '../components/common/blog/styles.scss';


//Main page components
@import '../components/common/statbar/styles.scss';

//buttons
@import '../components/ui/stickyButtons/buttons/RoundButton/styles.scss';
@import '../components/ui/stickyButtons/buttons/SmallButton/styles.scss';
@import '../components/ui/stickyButtons/buttons/MyButton/styles.scss';
@import '../components/ui/stickyButtons/buttons/RotatingButton/styles.scss';
@import '../components/ui/stickyButtons/buttons/SvgButton/styles.scss';

// images
@import '../components/ui/stickyImage/style.scss';

// text animations
@import '../components/anim/TextAnims/MainText/styles.scss';
@import '../components/anim/TextAnims/SubText/styles.scss';
@import '../components/anim/TextAnims/PageHeading/styles.scss';
@import '../components/anim/TextAnims/RollingText/styles.scss';
@import '../components/anim/TextAnims/RollingTextColor/styles.scss';
@import '../components/anim/TextAnims/StatNumber/styles.scss';
@import '../components/anim/TextAnims/LoadingNumber/styles.scss';

//SVG animations 
@import '../components/anim/SvgAnims/ButtonSVGPath/styles.scss';
@import '../components/anim/SvgAnims/TextSVGPath/styles.scss';
@import '../components/anim/SvgAnims/TextSVGPath/svgPath/styles.scss';
@import '../components/anim/SvgAnims/SVGFill/styles.scss';

// Loop animations
@import '../components/anim/LoopAnims/GraphAnim/Button/styles.scss';
@import '../components/anim/LoopAnims/GraphAnim/styles.scss';
@import '../components/anim/LoopAnims/SmoothGraphAnim/styles.scss';
@import '../components/anim/LoopAnims/SmoothGraphAnim/Button/styles.scss';

//Preloader
@import '../components/anim/PreLoader/styles.scss';

//Transition
@import '../components/anim/Transition/styles.scss';

// main anims
@import '../components/sections/aboutTeam/styles.scss';
@import '../components/sections/TestiCarousel/styles.scss';
@import '../components/sections/BlogProgress/styles.scss';
// parallax expand
@import '../components/sections/parallaxExpand/styles.scss';

//About Colage
@import '../components/sections/eventCollage/styles.scss';
@import '../components/sections/eventCollage/collage/styles.scss';
@import '../components/sections/eventCollage/intro/styles.scss';

//logo
@import '../components/anim/LogoAnims/HoverAnim/styles.scss';
@import '../components/anim/LogoAnims/onView/styles.scss';

//ClipPath pages
@import '../components/sections/ClipPathPage/styles.scss';

//benefit program Keyframes
@import '../components/sections/BenefitProgram/styles.scss';
//sub benefit program Keyframes
@import '../components/sections/BenefitProgram/IntroPage/styles.scss';
@import '../components/sections/BenefitProgram/InfoSection/styles.scss';
//Benefit Program Details
@import '../components/sections/BenefitDetails/styles.scss';
@import '../components/sections/BenefitDetails/graph/styles.scss';
@import '../components/sections/BenefitDetails/Intro/styles.scss';
@import '../components/sections/BenefitDetails/Rewards/styles.scss';
@import '../components/sections/BenefitDetails/Reviews/styles.scss';

// benefit program showcase
@import '../components/sections/BenefitShowcase/style.scss';
@import '../components/sections/BenefitShowcase/content/style.scss';
@import '../components/sections/BenefitShowcase/dataBar/style.scss';
@import '../components/sections/BenefitShowcase/logobar/style.scss';

//Main section
@import '../components/sections/MainSection/styles.scss';
@import '../components/sections/MainSection/About/styles.scss';
@import '../components/sections/MainSection/Benefit/styles.scss';
@import '../components/sections/MainSection/Blog/styles.scss';
@import '../components/sections/MainSection/Contact/styles.scss';
@import '../components/sections/MainSection/Offer/styles.scss';
@import '../components/sections/MainSection/Offer/BecomeClient/styles.scss';
@import '../components/sections/MainSection/Offer/Benefits/styles.scss';
@import '../components/sections/MainSection/Offer/Intro/styles.scss';
@import '../components/sections/MainSection/Offer/OurDeal/styles.scss';
@import '../components/sections/MainSection/Offer/Quarentee/styles.scss';
@import '../components/sections/MainSection/Offer/Reality/styles.scss';
@import '../components/sections/MainSection/Offer/Requirements/styles.scss';
@import '../components/sections/MainSection/Offer/Testimonials/styles.scss';
@import '../components/sections/MainSection/Offer/TheWay/styles.scss';
@import '../components/sections/MainSection/Sales/styles.scss';


// Intros 
@import '../components/intros/main/styles.scss';
@import '../components/intros/about/styles.scss';
@import '../components/intros/reviews/styles.scss';
@import '../components/intros/feedBack/styles.scss';
@import '../components/intros/contact/styles.scss';
@import '../components/intros/blogPost/styles.scss';
//404 page
@import '../components/intros/404/styles.scss';



//Modem Components
@import '../components/modems/ContactBenefit/styles.scss';
@import '../components/modems/Cookies/styles.scss';
@import '../components/modems/Review/styles.scss';

//Modems 
@import '../components/modems/ContactModem/styles.scss';
@import '../components/modems/CookiesModem/styles.scss';
@import '../components/modems/ReviewModem/styles.scss';


// Forms 
@import '../components/forms/feedback/styles.scss';
@import '../components/forms/contact/styles.scss';
//benefit reminder
@import '../components/forms/BenefitReminder/styles.scss';










